mixin scripts
  script(defer, rel='script/text', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(defer, rel='script/text', src='js/client.js')
  
mixin styles
  link(rel='stylesheet', href='/stylesheets/style.css')

mixin analytics
  script(defer, rel='script/text', src='js/analytics.js')
  
