extends layout

block content
  h1.title= title
  p.under-title welcome to #{title}. there is currently #{users} users on the site.
  .item-list.container
    p this is the content
  footer
    p this is the footer
