// Glo
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  a {
    color: salmon;
  }
}

// Content
.container {
}

.item-list {
}

// Mast-head
.title {
  text-decoration: underline;
}
.under-title {
}

// Footer
footer {
  bottom: 0;
  position: absolute;
}
