// Variable
$bodyFontColor: black;
$bodyFontColorLight: lighten($bodyFontColor, 25%);
$titleFontColor: cornflowerblue;
$linkColor: salmon;

// Global
html {
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: auto;
  height: auto;
  border: 3px grey dotted;
  padding: 5px;
  a {
    color: $linkColor;
    text-decoration: none;
  &:active, &:hover {
    color: darken($linkColor, 25%);
    }
  }
}

// Content
.container {
  padding: 10px 20px 20px 20px;
}

#items-list {
    height: auto;
  p {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .route-container {
    height: auto;
    color: $bodyFontColorLight;
    margin: 2em 0;
    .route-details {
      padding-left: 1em;
      font-size: smaller;
    }
    .route {
      font-weight: bold;
      font-size: large;
    }
    .operation {
      text-transform: uppercase;
      font-size: large;
      width: 75px;
      &.get {
        background-color: lightgreen;
      }
      &.post {
        background-color: orange;
      }
    }
    .description {
    }
    .parameters {
    }
    .example {
    }
    .result {
    }
    .code {
      @extend p;
      width: 33.33333%;
      background-color: lightgrey;
      font-family: monospace;
      color: black;
    }
  }
}

#message-list {
  ul {
    list-style-type: none;
    padding-left: 0;
    li span {
      margin: 0 40px;
      &:first-child {
        margin: 0 40px 0 0;
      }
    }
  }
  .loader {
    position: absolute;
  }
}

// Header
header {
}
.title {
  color: $titleFontColor;
  border: 2px solid;
  width: 3em;
  padding-left: 0.25em;
}
.under-title {
}

// Footer
footer {
  height: 20px;
  bottom: 0;
  position: absolute;
  padding: 5px;
  margin: 5px;
  text-align: center;
  a {
    font-size: smaller;
  }
}
