body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: auto;
  height: auto;
  border: 3px grey dotted;
  padding: 5px; }
  body a {
    color: salmon;
    text-decoration: none; }
    body a:active, body a:hover {
      color: #e41f08; }

.container {
  padding: 10px 20px 20px 20px; }

#items-list {
  height: auto; }
  #items-list p, #items-list .route-container .code {
    margin-top: 0em;
    margin-bottom: 0em; }
  #items-list .route-container {
    height: auto;
    color: #404040;
    margin: 2em 0; }
    #items-list .route-container .route-details {
      padding-left: 1em;
      font-size: smaller; }
    #items-list .route-container .route {
      font-weight: bold;
      font-size: large; }
    #items-list .route-container .operation {
      text-transform: uppercase;
      font-size: large;
      width: 75px; }
      #items-list .route-container .operation.get {
        background-color: lightgreen; }
      #items-list .route-container .operation.post {
        background-color: orange; }
    #items-list .route-container .code {
      width: 33.33333%;
      background-color: lightgrey;
      font-family: monospace;
      color: black; }

#message-list ul {
  list-style-type: none;
  padding-left: 0; }
  #message-list ul li span {
    margin: 0 40px; }
    #message-list ul li span:first-child {
      margin: 0 40px 0 0; }

#message-list .loader {
  position: absolute; }

.title {
  color: cornflowerblue;
  border: 2px solid;
  width: 3em;
  padding-left: 0.25em; }

footer {
  height: 20px;
  bottom: 0;
  position: absolute;
  padding: 5px;
  margin: 5px;
  text-align: center; }
  footer a {
    font-size: smaller; }
